<!-- <li> <a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li> -->
  <!--<a href='/news/{{ object.id }}/{{ object.slug }}'>{{ object.title }}</a></li> -->

<div class="col-12 col-md-6 mb-4 mx-auto">
<div class="card {% if not article.publish_date %} bg-dark text-light {% endif %}">
  <div class='card-body'>
    {% if article.image %}
    <a href="{{ article.get_absolute_url}}">
      <img src="{{ article.image.url }}" class='card-img-top' />
      </a>
    {% endif %}
    <h5 class="card-title">{{ article.title }}</h5>
    <p class='card-text'>
      <small class="text-muted">{{ article.publish_date }}</small>
      {% if truncate %}
        {{ article.content|linebreaks|truncatewords:50 }}
      {% else %}
        {{ article.content|linebreaks }}
      {% endif %}
    </p>
    {% if not detail %}
    {% if not article.publish_date %} Draft {% endif %}
    <a href="{{ article.get_absolute_url }}">Read More</a>
    {% endif %}
  </div>
  </div>
</div>
